.movie-card {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
    max-height: 35rem;
    max-width: 17rem;
    padding: 10px;
  }

  .movie-card-poster-container {
    border: 5px;
    border-radius: 10px;
    height: 22.5rem;
    /* position: relative; */
    overflow: hidden;
    width: 15rem;
  }

  .movie-card-poster-container:hover {
    box-shadow: 0.3rem 0.3rem 0.3rem var(--clr-offWhite);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  img {
    height: auto;
    inline-size: 100%;
    object-fit: cover;
  }