.header {
    /* background-position: 100% 20%; */
    /* REMINDER: add media selectors (to background
    position) in order to add breakpoints to make 
    this fully responsive */
    /* background-repeat: no-repeat; */
    /* background-size: 80%; */
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .4s ease-in;
    height: 5rem;
    /* outline: 1px solid gold; */
    width: 100%;
}

.header-background {
    background-color: var(--clr-mainHeaderBackground);
}

h1 {
    margin: 0 0 0 1rem;
}

